@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using ClientDependency.Core.Mvc;
@using Umbraco.Web;
@using PoweredByOprum.Models;
@using PoweredByOprum.Helpers;

@{
    var states = OprumHelpers.GetPrevaluesFromDataType("Oprum Member - State - Dropdown list");
    var departments = OprumHelpers.GetPrevaluesFromDataType("Oprum Member - Department - Dropdown list");
    var divisions = OprumHelpers.GetPrevaluesFromDataType("Oprum Member - Division - Dropdown list");

    MemberProfileViewModel memberModel = null;
    var currentMember = Umbraco.MembershipHelper.GetCurrentMember();

    if (currentMember != null)
    {
        memberModel = MemberProfileViewModel.Create(new OprumMember(currentMember), Members.CurrentUserName);
        var avatarMedia = Umbraco.Media(1138);
        memberModel.Avatar = avatarMedia.Url;
    }

    Html.RequiresCss("~/App_Plugins/PoweredByOprum/Components/dist/member-profile/styles.bundle.css");

    Html.RequiresJs("~/App_Plugins/PoweredByOprum/Components/dist/member-profile/inline.bundle.js");
    Html.RequiresJs("~/App_Plugins/PoweredByOprum/Components/dist/member-profile/polyfills.bundle.js");
    Html.RequiresJs("~/App_Plugins/PoweredByOprum/Components/dist/member-profile/vendor.bundle.js");
    Html.RequiresJs("~/App_Plugins/PoweredByOprum/Components/dist/member-profile/main.bundle.js");
}

@if (UmbracoContext.IsFrontEndUmbracoRequest)
{
    Html.RenderCssHere();
    <member-profile member="@Json.Encode(memberModel)"
                    departments="@Json.Encode(departments)"
                    divisions="@Json.Encode(divisions)"
                    states="@Json.Encode(states)">
    </member-profile>
    Html.RenderJsHere();
}
else
{
    <div class="text-center">
        <div><i class="fa fa-user-circle"></i> <span>@Model.MacroName</span></div>
    </div>
}

